body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

/* header stuff here */
header {
    background-color: white;
    padding: 1rem 14px;
}
header span {
    color: #222601;
    font-size: 1.8rem;
    font-weight: 900     ;
}

/* navigation stuff here */
nav {
    background-color: #64732D;
}
nav ul {
    margin: 0;
    padding: 0 12px;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    color: #222601;
    font-weight: 700;
}

nav li.active a {
    background-color: #222601;
    color: #64732D
}

nav li a:hover {
    color: white;
}

/* main stuff here*/
main {
    padding: 1rem 12px;
}

main h1 {
    color: #732C02;
}
main h2 { 
    color: #222601;
    margin-bottom: .2rem;
}
main p {
    margin: 0;
    color: #333;
}
main ol {
    padding: .5rem 30px;
    background-color: #efefef;
}
main dl dt {
    color: #732C02;
    font-weight: 600;
    margin-top: 1.1rem;
}
main dl dd {
    color: #222601;
    font-size: 1.1rem;
    margin-left: 18px;
}
main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main strong {
    font-weight: 600;
    color: #000;
}

main em {
    font-weight: 400;
    color: #732C02;
}
main address {
    font-style: normal;
    background-color: #D9A86C;
    padding: .5rem;
    border-radius: 10px;
    border: .5px dashed #222601;
    width: 150px;
}
main a {
    color: #222601;
}
main a.hover {
    color: rgb(42, 111, 20);
}

/* footer stuff here */
footer {
    background-color: white;
    text-align: center;
    padding: 1rem 0;
}
footer p {
    margin: 0;
    font-size: .8rem;
    color: #A69026;
    letter-spacing: 3px;
}